@import url('https://fonts.googleapis.com/css2?family=Kreon&display=swap');


body{
    background: radial-gradient(#fdbb2d, #22c1c3);
}
.w3-container-w3-teal {
    padding: 20px 0;
    background: black;
    margin: 0 0 30px 0;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold; 
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Kreon', serif;
}
.w3-container{
    padding: 10px 0 35% 0 ;
    margin: 0 30%;
    display: block;
    background-color: wheat;
}
img {
    margin: auto;
    display: block;
}
img:hover{
    border: 5px dashed black;
}
.w3-container-w3-teal-footer {
    background: black;
    padding: 10px;
}

.w3-container-w3-teal-footer     p {
    color: white;
}