@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    text-align: center;
    background: radial-gradient(#090136, #3b055f);
    padding: 40px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-size: 60px;
}
header h2 {
    font-size: 20px;
    font-style: italic;
}
.titulo {
    margin: auto 150px;
}
.summary {
    background:black;
    font-size: 18px;
    color: white;
    width: 300px;
    border: 2px solid #FFFFFF ;
    border-radius: 10px ;
    margin: 0 50px 0 0;
    padding: 6px;
}
.summary a {
    text-decoration: none;
}
.summary:hover{
    border-color: yellow;
}
main {
    background: #351919;
    width: 66%;
    margin: auto auto;
}