@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
    background-image: linear-gradient(to left,#8a2387,#e94057,#f27121);
    background-size:100% 100% ;
}
body a {
    text-decoration: none;
}
header {
    text-align: center;
    background: linear-gradient(to right,#1e2227,#16222a);
    padding: 40px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    border-bottom:3px solid #ffffff38 ;
}
header h1 {
    font-size: 60px;
    text-shadow: 2px 2px 4px #000000;
}
header h2 {
    font-size: 20px;
    font-style: italic;
}
.titulo {
    margin: auto 150px;
}
.summary {
    background:black;
    font-size: 18px;
    color: #FFFFFF;
    width: 300px;
    border: 2px solid #FFFFFF ;
    border-radius: 10px ;
    margin: 0 50px 0 0;
    padding: 6px;
}
.summary:hover{
    border-color: yellow;
}
main{
    background: radial-gradient(closest-side,#1e2227,#16222a);
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border: 3px solid #ffffff38 ;
    border-radius: 20px;

}
.grades {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-evenly;
}
.bloco {
    background: #303841;
    color: white;
    margin: 20px;
    width: 40%;
    padding: 15px;
    height: 400px;
    border: 3px solid #ffffff38 ;
    border-radius: 20px;
}
main h3 {
    font-size: 30px ;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: aqua;
    text-shadow: 2px 2px 4px #000000;
    text-transform: uppercase;
    padding: 10px 0 ;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 10px;
}
main p {
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}
#zen-participation  {
    width: 55%;
}
#zen-benefits {
    width: 25%;
}
.requirements {
    background: #303841;
    color: white;
    margin: 20px;
    padding: 15px;
    border: 3px solid #ffffff38 ;
    border-radius: 20px;
}
footer {
    background: linear-gradient(to right,#1e2227,#16222a);
    border-top: 3px solid #ffffff38;
    display: inline-flex;
    width: 100%;
    justify-content:space-evenly;
}
.bloco-lista {
    color: #FFFFFF;
    padding: 10px;
}
.bloco-lista h3 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 4px 0;
}
.bloco-lista li {
    padding: 5px;
    font-family: 'Ubuntu', sans-serif;

}
.bloco-lista li:hover {
    background: #101214;
    border-left: 4px solid#f27121;
    transform: scale(1.1);
}